:root {
    --terracotta: #CB997E;
    --dusty-rose: #DDBEA9;
    --peach-cream: #FFEBD6;
    --soft-apricot: #B7B7A4;
    --sage-fern: #A5A58D;
    --olive-green: #6B705C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--peach-cream);
    color: var(--olive-green);
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}

.nav__logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--terracotta);
    text-decoration: none;
}

.nav__logo span {
    color: var(--olive-green);
}


.nav__links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav__links a {
    text-decoration: none;
    color: var(--terracotta);
    font-size: 1rem;
    font-weight: 500;
}

.nav__links a:hover{
    color: var(--olive-green);
}


.nav__btns {
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    display: inline-block; 
    background-color: var(--terracotta);
    color: var(--olive-green);
    min-width: 60px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.btn a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
}

.btn:hover {
    background-color: var(--olive-green);
    color: var(--terracotta);
}

.container {
    max-width: 800px;
    align-items: center;
    margin: auto;
    padding: 20px;
    
}

h1 {
    color: var(--terracotta);
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--sage-fern);
}

footer {
    background-color: var(--soft-apricot);
    padding: 0 15px;
    height: 80px;
    margin-top: auto;
    display: flex;
    justify-content: space-between; /* Aligns elements horizontally */
    align-items: center; /* Centers items vertically */
    width: 100%;
}

.footer-links {
    display: flex;
    gap: 20px;
}

.footer-links a {
    color: var(--olive-green);
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
}

.footer-links a:hover {
    color: var(--peach-cream);
}

footer p {
    font-size: 14px;
    color: var(--olive-green);
}

.team {
    margin-top: 10px;
}

.team h2 {
    color: var(--olive-green);
    margin-bottom: 10px;
}
.team-members {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.member {
    padding: 15px;
    width: 200px;
}
.member img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.member h3 {
    margin-top: 10px;
    color: var(--olive-green);
}
.member p {
    font-size: 0.9rem;
    color: var(--terracotta);
}